# CLion 编译产物（最占空间的部分，必须忽略）
cmake-build-debug/
cmake-build-release/

# STM32 固件文件
*.elf
*.bin
*.hex
*.map

# 临时文件与缓存
.mxproject
*.swp
*.bak
*.dep

# IDE 配置文件
.idea/
.vscode/

# 编译生成的驱动依赖（因为可以重新生成，通常不传，视情况而定）
# Drivers/